<ion-header>
  <ion-navbar>
    <ion-searchbar (ionInput)="onSearch($event.target.value)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <span *ngIf="!photos">Search to display images</span>

  <ion-list>
    <ion-item *ngFor="let photo of photos">
      <!-- <ion-img style="width: 280px; height: 200px;" [src]="photo.imageUrl"> </ion-img> -->
      <img class="image" [src]="photo.imageUrl"> </img>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="90%">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>